<div id='check'>
  <h2>Sustainability Check</h2>
  <!-- PRECHECK SECTION -->
  <div class='precheck animated'>
    <div class='wrapper'>
      <div class="alert alert-info">
        <h3>Summary of selected data:</h3> 
        <ul>
          <li>
            <a href='#demographics' class='alert-link nav-link'>Socio-demographics typology:</a>
            <span class='d_dem'>Post-industrial, rich</span>.
          </li>
          <li>
            <a href='#diet' class='alert-link nav-link'>
            Diet:</a>
            <span class='d_die'>Average</span> meat consumption.
          </li>
          <li>
            <a href='#households' class='alert-link nav-link'>Households:</a>
            <span class='d_hou_urb'>25%</span> Urban, including 
            <span class='d_hou_sub'>25%</span> Rich suburbs, 
            <span class='d_hou_apa'>50%</span> Middle-class appartments and 
            <span class='d_hou_slu'>25%</span> slums.
          </li>
          <li>
            <a href='#services' class='alert-link nav-link'>Services &amp; Government:</a>
            <span class='d_ser_edu'>1</span> education and healthcare, 
            <span class='d_ser_med'>1</span> media and tourism, 
            <span class='d_ser_pub'>1</span> public institutions, 
            <span class='d_ser_tra'>1</span> transportation and retailing.
          </li>
          <li>
            <a href='#density' class='alert-link nav-link'>Population Density:</a>
            <span class='s_den'>Average</span>
          </li>
          <li>
            <a href='#land' class='alert-link nav-link'>Land:</a>
            <span class='s_lan'>High</span> quantity of arable land per capita.
          </li>
          <li>
            <a href='#bm' class='alert-link nav-link'>Building &amp; Manufacturing:</a>
            <span class='s_bm'>Average</span> industrialization.
          </li>
          <li>
            <a href='#agriculture' class='alert-link nav-link'>Agriculture:</a>
            <span class='s_agr'>Mixed</span> agriculture.
          </li>
          <li>
            <a href='#energy' class='alert-link nav-link'>Energy:</a>
            <em>Energy production: </em><span class='s_ene_nuc'>25%</span> nuclear, 
            <span class='s_ene_hyd'>25%</span> hydropower, 
            <span class='s_ene_pho'>25%</span> photovoltaics, 
            <span class='s_ene_win'>25%</span> wind power.<br>
            <em>Fuels production: </em><span class='s_ene_bio'>25%</span> biofuels, 
            <span class='s_ene_hyg'>50%</span> hydrogen, 
            <span class='s_ene_ncf'>25%</span> non-conventional fossile resources.
          </li>
        </ul>
      </div>
      <button type="button"  class='btn btn-primary btn-lg'>Check now!  </button>
    </div>
  </div>
  <!-- CHECK SECTION -->
  <div class='checksection animated hidden'>
    <h3 class='check-result'>Failed!</h3>
    <div class='check-graph'>
      <!-- Upper row -->
      <div class='row'>
        <!-- Upper graph title -->
        <div class='cell col-xs-3'>
          <div class='graph-title upper'>Local supply</div>
        </div>
        <!-- Upper food bar -->
        <div class='cell col-xs-2'>
          <div class='bar-upper bar-food'>
            <div class='bar-percent'>0%</div>
          </div>
        </div>
        <!-- Upper energy bar -->
        <div class='col-xs-2 visible-xs'></div>
        <div class='cell col-xs-2 col-sm-offset-2'>
          <div class=' bar-upper bar-energy'>
            <div class='bar-percent'>0%</div>
          </div>
        </div>
      </div>
      <!-- Middle axis -->
      <hr class='graph-axis'>
      <!-- Lower row -->
      <div class='row'>
        <!-- Lower graph title -->
        <div class='cell col-xs-3'>
          <div class='graph-title lower'>Imported</div>
        </div>
        <!-- Lower food bar -->
        <div class='cell col-xs-2'>
          <div class='bar-lower bar-food'>
            <div class='bar-percent'>0%</div>
            <div class='bar-title'>Food</div>
          </div>
        </div>
        <!-- Lower energy bar -->
        <div class='col-xs-2 visible-xs'></div>
        <div class='cell col-xs-2 col-sm-offset-2'>
          <div class='bar-lower bar-energy'>
            <div class='bar-percent'>0%</div>
            <div class='bar-title'>Energy</div>
          </div>
        </div>
      </div>
    </div>

    <div class='check-why'>
      <blockquote>"A society that relies on imports to function is not sustainable... You failed the check because of..."</blockquote>
    </div>

    <div class='check-next text-center  row'>
      <div class='col-xs-6'>
        <div class='btn btn-default btn-lg'>Try again</div>
      </div>
      <div class='col-xs-6'>
        <div class='btn btn-primary btn-lg'>Next level</div>
      </div>
    </div>    
    <div class='check-next text-center  row'>
      <div class='col-xs-12'>
        <div class='btn btn-info btn-lg'>Debug: show Sudoku</div>
      </div>
    </div>
  </div>
</div>
<div class='section' id='debug' style='display: none'></div>
