<header role='banner'>
  <div id='uid' class='hidden'><%= @experiment.id %></div>
  <nav>
    <div class='titles'>
      <div class='title demand'>Demand</div>
      <div class='title supply'>Supply</div>
      <div class='title check'>Check</div>
    </div>
    <hr />
    <ul role='navigation'>
      <li>
        <a href='#demographics' class='demand active' title='Demographics'>
          <i class="fa fa-globe"></i>
        </a>
      </li>
      <li>
        <a href='#diet' class='demand' title='Diet'>
          <i class="fa fa-cutlery"></i>
        </a>
      </li>
      <li>
        <a href='#households' class='demand' title='Households'>
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li>
        <a href='#services' class='demand' title='Services &amp; Government'>
          <i class="fa fa-medkit"></i>
        </a>
      </li>
      <li>
        <a href='#density' class='supply' title='Population Density'>
          <i class="fa fa-group"></i>
        </a>
      </li>
      <li>
        <a href='#land' class='supply' title='Land Use'>
          <i class="fa fa-picture-o"></i>
        </a>
      </li>
      <li>
        <a href='#bm' class='supply' title='Building &amp; Manufacturing'>
          <i class="fa fa-wrench"></i>
        </a>
      </li>
      <li>
        <a href='#agriculture' class='supply' title='Agriculture'>
          <i class="fa fa-leaf"></i>
        </a>
      </li>
      <li>
        <a href='#energy' class='supply' title='Energy'>
          <i class="fa fa-bolt"></i>
        </a>
      </li>
      <li>
        <a href='#check' class='check' title='Check'>
          <i class="fa fa-check"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>
