<header role='banner'>
  <div id='uid' class='hidden'><%= @experiment.id %></div>
  <nav>
    <div class='titles'>
      <div class='title demand'><%= Content.text('chkr_demand', 'simple') %></div>
      <div class='title supply'><%= Content.text('chkr_supply', 'simple') %></div>
      <div class='title check'><%= Content.text('chkr_check', 'simple') %></div>
    </div>
    <hr />
    <ul role='navigation'>
      <li>
        <a href='#demographics' class='demand nav-link active' title='Demographics'>
          <i class="fa fa-globe"></i>
        </a>
      </li>
      <li>
        <a href='#diet' class='demand nav-link' title='Diet'>
          <i class="fa fa-cutlery"></i>
        </a>
      </li>
      <li>
        <a href='#households' class='demand nav-link' title='Households'>
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li>
        <a href='#services' class='demand nav-link' title='Services &amp; Government'>
          <i class="fa fa-medkit"></i>
        </a>
      </li>
      <li>
        <a href='#density' class='supply nav-link' title='Population Density'>
          <i class="fa fa-group"></i>
        </a>
      </li>
      <li>
        <a href='#land' class='supply nav-link' title='Land Use'>
          <i class="fa fa-picture-o"></i>
        </a>
      </li>
      <li>
        <a href='#bm' class='supply nav-link' title='Building &amp; Manufacturing'>
          <i class="fa fa-wrench"></i>
        </a>
      </li>
      <li>
        <a href='#agriculture' class='supply nav-link' title='Agriculture'>
          <i class="fa fa-leaf"></i>
        </a>
      </li>
      <li>
        <a href='#energy' class='supply nav-link' title='Energy'>
          <i class="fa fa-bolt"></i>
        </a>
      </li>
      <li>
        <a href='#check' class='check nav-link' title='Check'>
          <i class="fa fa-check"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>
