<div id="container">
  <h3>Sustainability Check</h3> 
  <div class="cogs">
    <i class="fa fa-cog fa-spin fa-2x"></i>
    <i class="fa fa-cog fa-3x"></i>
    <i class="fa fa-cog fa-spin fa-4x"></i>
    <em>Crunching data...</em>
  </div>
</div>