<div id="loading">
  <div class="cogs">
    <i class="fa fa-cog fa-spin fa-2x"></i>
    <i class="fa fa-cog fa-3x"></i>
    <i class="fa fa-cog fa-spin fa-4x"></i>
  </div>
</div>
<div class='card-container' id='cards'>
  
</div>