<h1>How to contact us?</h1>
<hr/>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-header">Visit us!</h3>
			</div>
			<div class="panel-body">
				<p>
					Our research group is located on the Bellaterra Campus of the Universitat Autònoma de Barcelona, in the Facultat de Ciències (Building C). <br/><br/>
					The Bellaterra Campus is located about 20 km outside of Barcelona and can be conveniently reached from Barcelona's city centre by Ferrocarril (FGC, line Barcelona-Vallès, destination: Universitat Autònoma). At Plaça Catalunya, take line S-2 (green, towards Sabadell) or S-55 (blue, towards Universitat Autònoma) and get off at the stop "Universitat Autònoma". The trip takes about 30 minutes and trains leave about every 10 minutes. <br/><br/>
					We look forward to welcome you!
				</p>	
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-header">Via email</h3>
			</div>
			<div class="panel-body">
				<form class="form-horizontal" role="form">
				  <div class="form-group">
				    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
				    <div class="col-lg-10">
				      <input type="email" class="form-control" id="inputEmail" placeholder="Enter your email...">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="inputText" class="col-lg-2 control-label">Message</label>
				    <div class="col-lg-10">
				      <textarea class="form-control" rows="4" placeholder="Write your message here..."></textarea>
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-lg-offset-2 col-lg-10">
				      <button type="submit" class="btn btn-default">Send</button>
				    </div>
				  </div>
				</form>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-header">Via postal address</h3>
			</div>
			<div class="panel-body">
				<p>
					You can write to us at the following address: <br/>
					<em>Integrated Assessment group - Pr. Mario Giampietro <br/>
					Institute for Environmental Science and Technology (ICTA) <br/>
					Universitat Autònoma de Barcelona (UAB) <br/>
					Edifici C, Campus de la UAB <br/>
					08193 Bellaterra (Cerdanyola del Vallès) – Barcelona <br/>
					Spain </em>
				</p>		
			</div>
		</div>
	</div>
</div>
