<div class="home-push"></div>
<div class="row">
  <div class="col-md-6">
    <p>
      <%= Content.text('home_desc') %>
    </p>    
  </div>
  <div class="col-md-6">
    <div style="background-color:#000000;width:520px;">
        <div style="padding:4px;">
          <iframe src="http://media.mtvnservices.com/embed/mgid:cms:video:thedailyshow.com:312470" width="512" height="288" frameborder="0"></iframe>
        </div>
      </div>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-xs-6 col-btn-start">
    <a href="/level1" class="btn btn-primary btn-lg"><%= Content.text('home_btn_start', 'simple') %></a>
  </div>
  <div class="col-xs-6">
    <a href="/presentation" class="btn btn-info btn-lg"><%= Content.text('home_btn_info', 'simple') %></a>
  </div>
</div>
