<h2><%= Content.text('pres_title', 'simple') %></h2>
<p>
  <%= Content.text('pres_desc') %>
</p>  
<div class="text-center">
  <a href='/begin' class='btn btn-primary btn-lg'><%= Content.text('pres_btn', 'simple') %></a>
</div>
