<%= link_to(root_path, class: "banner") do %>
  <header class="container">
    <h1>The Sustainability Sudoku<small>A didactic, interactive tool to understand and discuss sustainability issues</small></h1>
  </header>
<% end %>
