<div class='cont'>
  <a href='<%= supply_industrialization_path %>'>
    <div class='navarrow navarrow-left'>
      <i class="fa fa-chevron-left fa-4x"></i>
    </div>    
  </a>

  <h3>
    Check
  </h3>
</div>