<div class='cont'>
  <!-- navarrows -->
  <a href='<%= supply_path(anchor: 'industrialization') %>'>
    <div class='navarrow navarrow-left'>
      <i class="fa fa-chevron-left fa-4x"></i>
    </div>    
  </a>
  <div class='navarrow navarrow-right navarrow-off'>
    <i class="fa fa-chevron-right fa-4x"></i>
  </div>   

  <h3>Check</h3> 
</div>