<div class='card animated hidden' data-card-id=4 data-card-name='density' data-card-slug='s_den'>
  <div class='card-header'>
    <div class='card-title'>
      Population Density
    </div>
    <div class='card-question'>
      > How is your population density?
    </div>
  </div>
  <div class='card-body'>
    <div class='card-choice choice-grid' data-choice-type='radio'>
      <div class='choice-grid-row'>
        <div class='choice-grid-radio lg4 btooltip' data-cv-value='low' title='e.g. Canada, Russia'>Low</div>
        <div class='choice-grid-radio lg4 btooltip' data-cv-value='mid' title='e.g. USA'>Average</div>
        <div class='choice-grid-radio lg4 btooltip' data-cv-value='high' title='e.g. India, Japan, South Korea'>High</div>
      </div>
    </div>
    <div class='card-subtitle'>
      <em>"Population density reflects how scattered or concentrated your population is. It would be easier to attend to the needs of everyone if they were all in the same place, but wouldn't they suffocate if it was too concentrated ?"</em>
    </div>
  </div>
</div>
