<h3>&#10165; Quicklinks</h3>
<p>Follow the links to edit the text on each page. Editable areas are marked with a blue outline. The text is saved on the database once you push the "Save" button. You cannot undo that action and it will erase the previous text for this section, so make sure that everything is fine on your end before saving.</p>
<div class='row'>
  <div class='col-sm-6'>
    <div class='panel panel-primary'>
      <div class="panel-heading">
        <h3 class='panel-title'>Website</h3>
      </div>
      <div class="panel-body">
      <ul>
        <li><a href='/editor/home'>Main page</a></li>
        <li><a href='/editor/more'>Learn more</a></li>
        <li><a href='/editor/about'>About</a></li>
        <li><a href='/editor/glossary'>Glossary</a></li>
        <li><a href='/editor/contact'>Contact</a></li>
        <li><a href='/editor/legal'>Legal</a></li>
      </ul>
      </div>
    </div>
  </div>
  <div class='col-sm-6'>
    <div class='panel panel-primary'>
      <div class="panel-heading">
        <h3 class='panel-title'>Application</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li><a href='/editor/level1'>Level 1</a></li>
          <li><a href='/editor/level2'>Level 2</a></li>
          <li><a href='/editor/level3'>Level 3</a></li>
        </ul>
      </div>
    </div>
    <div class='panel panel-primary'>
      <div class="panel-heading">
        <h3 class='panel-title'>Others</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li><a href='/editor/admin-sudoku/uneditables'>Uneditables</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
