<h1>Administration panel</h1>
<hr>
<h3>Edit Content</h3>
<p>Follow the links to edit the text on each page. Editable areas are marked with a blue outline. The text is saved on the database once you push the "Save" button, and you cannot undo that action, so make sure that everything is fine on your end before saving.</p>
<div class='row'>
  <div class='col-sm-6'>
    <div class='panel panel-primary'>
      <div class="panel-heading">
        <h3 class='panel-title'>Static website:</h3>
      </div>
      <div class="panel-body">
      <ul>
        <li><a href='/editor/home'>Home</a></li>
        <li><a href='/editor/presentation'>Presentation</a></li>
        <li><a href='/editor/contact'>Contact</a></li>
        <li><a href='/editor/legal'>Legal</a></li>
      </ul>
      </div>
    </div>
  </div>
  <div class='col-sm-6'>
    <div class='panel panel-primary'>
      <div class="panel-heading">
        <h3 class='panel-title'>Levels:</h3>
      </div>
    <div class="panel-body">
    <ul>
      <li><a href='/editor/level1'>Checker level 1</a></li>
      <li><a href='/editor/level2'>Checker level 2</a></li>
      <li><a href='/editor/level3'>Checker level 3</a></li>
    </ul>
    </div>
  </div>
</div>
