<h1>Administration panel</h1>
<hr>
<div class='panel panel-warning'>
  <div class='panel-heading'>
    <h1 class='panel-title'>Reminder</h1>
  </div>
  <div class='panel-body'>
    <p>
      The Sudoku application is able to recognize a specific syntax to provide functionalities:
      <ul>
        <li><strong>Glossary entries: [[text|slug]]</strong> The application will display <em>text</em> and look for a glossary entry corresponding to its provided <em>slug</em>.</li>
        <li><strong>Dynamic variables: [grains_equiv] and [s_ene_con]</strong> These two blocks of text must be placed in their corresponding section in the description text (under the section subtitle) with this specific syntax, and the application will parse them and replace them with their value in the Sudoku. Every time the sudoku is updated, the application updates the value.</li>
      </ul>
    </p>
  </div>
</div>
<hr>
<ul class="nav nav-tabs">
  <li class="active"><a href="#content" data-toggle="tab"><i class="fa fa-language"></i> Text content</a></li>
  <li><a href="#glossary" data-toggle="tab"><i class="fa fa-book"></i> Glossary</a></li>
</ul>
<div class="tab-content">
  <div id="content" class="tab-pane fade in active">
    <%= render 'content' %>
  </div>
  <div id="glossary" class="tab-pane fade">
    <%= render 'glossary' %>
  </div>
</div>
