<h1>Administration panel</h1>
<hr>
<ul class="nav nav-tabs">
  <li class="active"><a href="#content" data-toggle="tab"><i class="fa fa-language"></i> Text content</a></li>
  <li><a href="#glossary" data-toggle="tab"><i class="fa fa-book"></i> Glossary</a></li>
</ul>
<div class="tab-content">
  <div id="content" class="tab-pane fade in active">
    <%= render 'content' %>
  </div>
  <div id="glossary" class="tab-pane fade">
    <%= render 'glossary' %>
  </div>
</div>
