<div class="site-footer<%= @inapp ? ' inapploading' : '' %>">
  <div class="site-footer-content">
    <div class='site-footer-main'>
      <ul class="site-footer-list">
        <li>
          <a href="/about">About Us</a>
        </li>
        <li>
          <a href="/glossary">Glossary</a>
        </li>
        <li>
          <a href="/legal">Legal Terms</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
      <ul class="social">
        <li>
          <a class="facebook" target="_blank" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" href="http://www.facebook.com/sharer/sharer.php?u=http://thesustainabilitysudoku.info"><i class="fa fa-facebook-square" title="Share this website on Facebook"></i></a>
        </li>
        <li>
          <a target='_blank' href="https://twitter.com/share?url=http%3A%2F%2Fthesustainabilitysudoku.info&hashtags=thesustainabilitysudoku,sustainability,MuSIASEM,dataviz&text=The Sustainability Sudoku -" title="Share this website on Twitter"><i class="fa fa-twitter-square"></i></a>
        </li>
        <li>
          <a target='_blank' href="https://plus.google.com/share?url=http://thesustainabilitysudoku.info"><i class="fa fa-google-plus-square" title="Share this website on Google+"></i></a>
        </li>
      </ul>
    </div>
    <div class='copyright pull-right'>
      <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">The Sustainability Sudoku</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://iaste-researchgroup.org/" property="cc:attributionName" rel="cc:attributionURL">the IASTE Research Group of the Universitat Autònoma de Barcelona (UAB)</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
      <p class='text-center'>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
          <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
        </a>
      </p>
    </div>
  </div>
</div>
