<div class="site-footer">
  <div class="site-footer-content">
    <ul class="site-footer-list">
      <li>
        <a href="/credits">Credits</a>
      </li>
      <li>
        <a href="/glossary">Glossary</a>
      </li>
      <li>
        <a href="/legal">Legal Terms</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
    <ul class="social">
      <li>
        <a href="/" title="Like us on Facebook"><i class="fa fa-facebook-square"></i></a>
      </li>
      <li>
        <a href="/" title="Follow us on Twitter"><i class="fa fa-twitter-square"></i></a>
      </li>
      <li>
        <a href="/" title="Add us on Google+"><i class="fa fa-google-plus-square"></i></a>
      </li>
    </ul>
  </div>
