<div class="site-footer">
  <div class="site-footer-content">
    <ul class="site-footer-list">
      <li>
        <a href="/credits">Credits</a>
      </li>
      <li>
        <a href="/glossary">Glossary</a>
      </li>
      <li>
        <a href="/legal">Legal Terms</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
    <ul class="social">
      <li>
        <a class="facebook" target="_blank" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" href="http://www.facebook.com/sharer/sharer.php?u=http://thesustainabilitysudoku.info"><i class="fa fa-facebook-square" title="Share this website on Facebook"></i></a>
      </li>
      <li>
        <a target='_blank' href="https://twitter.com/share?url=http%3A%2F%2Fthesustainabilitysudoku.info&hashtags=thesustainabilitysudoku&text=Just%20played%20the%20Sustainability%20Sudoku!%20Define%20your%20society%20and%20try%20to%20get%20it%20sustainable!" title="Share this website on Twitter"><i class="fa fa-twitter-square"></i></a>
      </li>
      <li>
        <a target='_blank' href="https://plus.google.com/share?url=http://thesustainabilitysudoku.info"><i class="fa fa-google-plus-square" title="Share this website on Google+"></i></a>
      </li>
    </ul>
  </div>
