<div class="site-header">
  <div class="site-nav">
    <h1 class="site-logo">
      <a href="/">Sustainability Sudoku</a>
      <div class='site-hashtag'>
        <a href='https://twitter.com/search?f=realtime&q=%23thesustainabilitysudoku' target='_blank'>#thesustainabilitysudoku</a>
      </div>
    </h1>
    <ul class="site-nav-items">
      <li>
        <a class='capitalize <%= action_name == 'index' ? " selected" : "" %>' href="/">Home</a>
      </li>
      <li>
        <a class='capitalize <%= action_name == 'app' ? " selected" : "" %>' href="/start">Play Now</a>
      </li>
      <li>
        <a class='capitalize <%= action_name == 'more' ? " selected" : "" %>' href="/more">Learn More</a>
      </li>
      <li>
        <a class='capitalize <%= action_name == 'contact' ? " selected" : "" %>' href="/contact">Contact Us</a>
      </li>
    </ul>
  </div>
</div>
