<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="text-align:center;">
      <h2>The Sustainability Sudoku</h2>
      <p>A new message was sent from the contact form!</p>
    </div>
    <hr>
    <p><strong>User:</strong> <%= @name %></p>
    <p><strong>Email:</strong> <%= if @email then @email else 'Not provided' end %></p>
    <p><strong>Message:</strong><br> <%= @text %></p>
    <hr>
    <div style="text-align:center;">
      <small>This is an automated message, please do not reply.</small>
    </div>
  </body>
</html>
