<div class="footer">
  <p class="pull-left">
    Complete all section to advance to the next step.
  </p>
  <a href="<%= @next %>" class="btn btn-lg btn-success pull-right">Next Step  <span class="caret"></span></a>
</div>