<nav class="header navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Sustainability Sudoku</a>
  </div>
  <p class="navbar-text"><%= yield :title %></p>
  <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#"><i class="fa fa-save fa-1g"></i> Save</a>
      </li>
    </ul>
</nav>