<div class='site-body-content'>
  <div class='row'>
    <div class='col-sm-6 index-intro'>
      <h1><span>Experiencing the sustainabilities of societies</span>
      </h1>
      <p>
        Welcome consectetur adipiscing elit. Proin rhoncus, risus sit amet bibendum mattis, orci lorem posuere neque, ac dictum purus purus eu lectus. Nulla vehicula urna sit amet fringilla egestas (UAB).
      </p>
      <p class='text-center'>
        <a href='/level1' class='more'>Start the experience now<span><i class='fa fa-chevron-right'></i></span></a>
      </p>
    </div>
    <div class='col-sm-6 index-logo'>
      <img src='http://dummyimage.com/360x200/bfbfff/333.png&text=LOGO'>
    </div>
  </div>
  <div class='divider'></div>
  <div class='row'>
    <div class='col-sm-6 index-playsudoku'>
      <a href='/level1'>
        <img src='http://dummyimage.com/360x200/bfbfff/333.png&text=Sudoku preview'><br>
        <span class='more'>Play the Sustainability Sudoku now<span><i class='fa fa-chevron-right'></i></span></span>
      </a>
      <p>
        (Consectetur adipiscing elit. Proin rhoncus, risus, ac dictum purus purus eu lectus. Nulla vehicula urna sit amet fringilla egestas.)
      </p>
    </div>
    <div class='col-sm-6 index-about'>
      <h2>This website is about</h2>
      <ul>
        <li>
          <h3>Adopting new narratives to sustainability</h3>
          <p>
            Consectetur adipiscing elit. Proin rhoncus, risus, ac dictum purus purus eu lectus. Nulla vehicula urna sit amet fringilla egestas.
          </p>
          <a href='/more#narratives' class='more'>Read more<span><i class='fa fa-chevron-right'></i></span></a>
        </li>
        <li>
          <h3>Understanding how human societies work</h3>
          <p>
            Consectetur adipiscing elit. Proin rhoncus, risus, ac dictum purus purus eu lectus. Nulla vehicula urna sit amet fringilla egestas.
          </p>
          <a href='/more#humansocieties' class='more'>Read more<span><i class='fa fa-chevron-right'></i></span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
