<h2 id='cookies'>Cookie Policy</h2>
<div class='cookies'>
  <p>
    <strong>The Sustainability Sudoku uses cookies and the HTML5 local storage in order to store data about your visit.</strong>
  </p>
  <p>
    <strong>This website will:</strong>
    <ul>
      <li>Track your progression on the "Play Now" page and restore it when you visit back.</li>
      <li>Track if you are a new or returning visitor.</li>
      <li>Send non-identifying data about your visit to Google Analytics for generating traffic statistics.</li>
    </ul>
  </p>
  <p>
    <strong>This website will not:</strong>
    <ul>
      <li>Attempt to track any form of personal data other that what is mentioned above.</li>
      <li>Communicate personal data to third-party websites other than Google Analytics.</li>
    </ul>
  </p>
  <p>
    <strong>By using our website, you agree to these terms.</strong>
  </p>  
</div>
<h2><%= Content.text('legal_title', @isMercury) %></h2>
<div class='legal-main'>
  <%= raw @license %>
</div>
