#morelessbtn {
  margin-bottom: 25px;
}

.tab-pane {
  padding: 25px;
  border: 1px solid #DDD;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 0;
  margin-bottom: 15px;
}

h2 {
  margin-top: 0;
}


