/**
* APP CSS. Applied to all app pages.
**/

/** HEADER **/
$demand: #f0ad4e;
$supply: #39b3d7;
$check: #5cb85c;

.header {
  height: 65px;
  background-color: #F8F8F8;
  border-bottom: 2px solid #E7E7E7;
  
  .header-menu {
    position: relative;
    
    .menu-wrapper {
      background-color: #428BCA;
      height: 65px;
      width: 68px;
      float: left;
      border: 1px solid #357EBD;
      cursor: pointer;
      color: #FFFFFF;
      &:hover { 
        background-color: #3276B1; 
        color: #EEE;
      }
      
      .menu-btn {
        padding: 3px 0 0 4px;
        height: 63px;
        width: 66px;
        
        i { 
          text-shadow: 1px 1px 5px #000;
        }
      }
    }
    
    .menu-nav {
      margin: auto;
      width: 520px;
        
      .demand { 
        border-top: 3px solid $demand; 
        .icon:hover{
          background-color: $demand; 
        }
      }
      .supply { 
        border-top: 3px solid $supply;
        .icon:hover{
          background-color: $supply; 
        }
      }
      .check { 
        border-top: 3px solid $check;
        .icon:hover{
          background-color: $check; 
        }
      }
      .menu-nav-box {
        float: left;
        position: relative;
        text-align: center; 
        
        .menu-nav-title {
          height: 22px;
          font-size: 12px;
          line-height: 14px;
          font-weight: bold;
        }
        
        .menu-nav-content {
          color: #333;
            
          a, a:focus, a:visited, a:hover {
            color: inherit;
            text-decoration: none;
          }
          
          .menu-nav-item {
            float: left;
            cursor: pointer;
          }
          
          .line {
            width: 20px;
            height: 15px;
            border-bottom: 2px solid #333;
          }
         
          .space {
            width: 20px;
          }
         
          .icon {
            width: 30px;
            line-height: 25px;
            border: 2px solid #333;
            border-radius: 50%;
          }
        }
      }
    }
  }
  
  .header-user {
    
  }
}

/** PAGES **/
.cont {
  //height: 100%;
  margin: 5px 75px;
}

/** ACCORDION **/
#accordion {
  .panel-title, h5 {
    font-weight: bold;
  }

  .row {
     text-align: center;
  }
}

/** NAVIGATION ARROWS **/
.navarrow {
  position: absolute;
  top: 65px;
  bottom: 0;
  width: 68px;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.02);
  &:hover {
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  i {
    position: absolute;
    bottom: 50%;
  }
}

.navarrow-left {
  left: 0;
  i { left: 14px;}
}

.navarrow-right {
  right: 0;
  i { right: 14px;}
}

.navarrow-off {
  color: rgba(0, 0, 0, 0.2);
  &:hover {
    color: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.02);
  }
}

/** CHECK **/
.cogs {
  width: 125px;
  margin: auto;
  position: relative;

  .fa-2x {
    position: absolute;
    top: 20px;
    left: 38px;
  }

  .fa-3x {
    position: absolute;
    top: 36px;
    left: 15px;
    -moz-animation: spin 2s infinite linear reverse;
    -o-animation: spin 2s infinite linear reverse;
    -webkit-animation: spin 2s infinite linear reverse;
    animation: spin 2s infinite linear reverse;
  }

  .fa-4x {
    position: absolute;
    top: 54px;
    left: 38px;
  }
}
