/** CHECKER **/
/** COMMON **/
html, body { 
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/** COLORS **/
// shades of grey
$black: #333;
$darkgrey: #666;
$textgrey: #999;
$grey: #BBB;
$lightgrey: #DDD;
$white: #F2F2F2;
$alphawhite: rgba(252,252,255,0.90);
// colors
$red: #CC3333;
$green: #2ECC71;
$darkgreen: #27AE60;
$blue: #3498DB;
$darkblue: #2980B9;
// colors in header
$demand: #009933;
$demandactive: #33CC66;
$demandcomplete: #009933;
$supply: #CC3333;
$supplyactive: #FF6666;
$supplycomplete: #CC3333;
$check: #2ECC71;
$checkactive: #2ECC71;
// colors in sections
$level1: #B8D0DE;
$level2: #86B4CF;
$level3: #6792AB;
$darklevel1: #6792AB;
$darklevel2: #5081B5;
$darklevel3: #22558C;

/** HEADER **/
header {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: $alphawhite;
  border-bottom: 1px solid $lightgrey;
  z-index: 10;
  height: 65px;
  width: 100%;
  // small devices
  display: none;
}

nav {
  // small devices
  display: none;
  position: fixed;
  left: 50%;
  z-index: 12;

  .header-home, .header-contact {
    position: absolute;
    top: 17px;
    a {
      color: $textgrey;
      font-size: 20px;
      &:hover {
        color: $darkgrey;
        text-decoration: none;
      }
    }
  }

  .header-home {
    left: -440px;
  }

  .header-contact {
    right: -455px;
  }
}

#headernav {
  // small devices
  display: none;
  &.affix {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 11;
    height: 65px;
    width: 100%;
  }
  #headernav-cont {
    position: relative;
    margin: auto;
    width: 680px;

    .titles {
      position: absolute;
      top: 0px;
      text-align: center;

      .title {
        float: left;
        font-weight: 500;
      }

      .levels {
        border-top: 2px solid $black;
        width: 170px;
      }

      .demand {
        border-top: 2px solid $demand;
        width: 220px;
      }

      .supply {
        border-top: 2px solid $supply;
        width: 220px;
      }

      .check {
        border-top: 2px solid $check;
        width: 55px;
      }
    }

    hr.hr-sec {
      position: absolute;
      top: 21px;
      right: 30px;
      width: 465px;
      border: 0;
      border-bottom: 2px solid $black;
    }

    hr.hr-lvls {
      position: absolute;
      top: 21px;
      left: 25px;
      width: 125px;
      border: 0;
      border-bottom: 2px solid $black;
    }

    .ul-levels {
      position: absolute;
      top: 27px;
      list-style-type: none;
      padding-left: 0;

      li {
        float: left; 
        line-height: 25px;
        text-align: center;

        a {
          display: block;
          width: 31px;
          height: 30px;
          margin: 0 12px;
          padding-left: 1px;
          background-color: $lightgrey;
          border: 2px solid $black;
          border-radius: 50%;
          color: $textgrey;
          font-size: 17px;
          cursor: default;
          transition: 
            background-color 1s ease, 
            color 1s ease;
          &:hover, &:focus, &:visited {
            text-decoration: none;
          }
          &.current {
            font-weight: 600;
          }
          &.available {
            color: $black;
            cursor: pointer;
          }
          &.level1.available {
            background-color: $level1;
          }
          &.level2.available  {
            background-color: $level2;
          }
          &.level3.available  {
            background-color: $level3;
          }
        }
      }
    }

    .ul-navigation {
      position: absolute;
      top: 27px;
      left: 170px;
      list-style-type: none;
      padding-left: 0;

      li {
        float: left; 
        line-height: 25px;
        text-align: center;

        a {
          display: block;
          width: 31px;
          height: 30px;
          margin: 0 12px;
          padding-left: 1px;
          background-color: $white;
          border: 2px solid $black;
          border-radius: 50%;
          color: $black;
          font-size: 17px;
          transition: 
            background-color 1s ease, 
            color 1s ease;
          &:hover, &:focus, &:visited { 
            color: $black;
          }
          &.active.demand {
            background-color: $demandactive;
          }
          &.active.supply {
            background-color: $supplyactive;
          }
          &.active.check {
            background-color: $checkactive;
          }
          &.complete.demand {
            background-color: $demandcomplete;
          }
          &.complete.supply {
            background-color: $supplycomplete;
          }
        }
      }
    }
  }
}

/** SECTIONS **/
.section.in-level3 {
  padding-bottom: 55px;
}

.section {
  width: 100%;
  font-weight: 300;
  clear: both;  
  // small devices 
  padding: 3%;
  min-height: none;
  margin-bottom: 30px;

  .section-wrapper {
  }

  h2 small {
    color: $darkgrey;
  }

  // RADIO CHOICE
  .choice {
    .radio-row {
      margin-top: 15px;
      width: 100%;

      .cell {
        margin-right: 1px;
        padding: 15px;
        font-weight: 500;
        cursor: pointer;
        text-align: center;
        background-color: transparent;
        // small devices
        width: 100%;
        margin-bottom: 15px;
        &.active  {
          img {
            border: 2px solid $green;
          }
        }
        &:hover  {
          img {
            border: 2px solid $blue;
          }
        }
        &:hover.active  {
          img {
            border: 2px solid $green;
          }
        }

        small {
          font-weight: 200;
        }

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  // SLIDER CHOICE
  .slider {
    position: relative; 
    margin-bottom: 25px;
    font-weight: 400;

    .ui-slider-range {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .ui-slider-handle {
      z-index: 4;
    }

    .step {
      position: absolute;
      top: 0px;
      border-left: 1px solid $grey;
      z-index: 3;
      line-height: 53px;
      height: 15px;

      .name {
        position: absolute;
        top: -7px;
        left: -14px;
        font-size: 9px;
        color: $textgrey;
        width: 30px;
        text-align: center;
      }
    }

    .min-limit, .max-limit {
      position: absolute;
      top: 0;
      height: 100%;
      z-index: 2;
      background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
      background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-size: 35px 35px;
    }
    .min-limit {
      left: 0;
    }
    .max-limit {
      right: 0;
      background-color: $grey;
    }
  }
}

/** CHECK **/
#check {
  width: 100%;
  font-weight: 300;
  // small devices 
  padding: 3%;
  min-height: none;
  margin-bottom: 30px;

  .result {
    font-weight: 500;
  }
}

#checkresult {
  width: 100%;
  font-weight: 300;
  // small devices 
  padding: 3%;
  min-height: none;
  margin-bottom: 30px;

  .check-result-title {
    text-align: center;
    color: $red;
    &.passed {
      color: $green;
    }
  }

  .check-result-expl {
    text-align: center;
  }

  #checkgraph {
    hr.graph-axis {
      margin: 0;
      border-color: $black;
    }

    .row {
      .cell {
        position: relative;
        // small devices
        height: 90px;

        .bar-food, .bar-energy {
          transition: 
            height 1s ease,
            background-color 1s ease;
          height: 0;
          width: 100%;
          position: absolute;
        }

        .bar-food {
          border: 1px solid $darkgreen;
          background-color: $green;

        }

        .bar-energy { 
          border: 1px solid $darkblue;
          background-color: $blue;
        }

        .bar-upper {
          bottom: 0;
          border-bottom: none;

          .bar-percent {
            top: -18px;
          }
        }

        .bar-lower {
          top: 0;
          border-top: none;

          .bar-percent {
            display: none;
            bottom: -18px;
            color: $red;
            text-shadow: 1px 1px 3px #888;
          }
        }

        .bar-percent {
          position: absolute;
          width: 100%;
          text-align: center;
          color: $black;
        }

        .bar-title {
          position: absolute;
          bottom: -25px;
          text-align: center;
          width: 100%;
          font-weight: 500;
        }

        .graph-title {
          font-weight: 400;
          &.upper {
            position: absolute;
            bottom: 0;
          }
          &.lower {
            color: $red;
            font-weight: 500;
          }
        } 
      }
    } 
  }
}

/** Level 2 sections **/
.section-lvl2 {
  width: 100%;
  background-color: #efefef;
  font-weight: 300;
  clear: both;
  margin: 0;
  padding: 25px 15%;
}

.btn-row {
  text-align: center;
}

.btn-row .btn {
  margin-left: 15px;
}

.btn-row .btn:nth-of-type(1) {
  margin-left: 0;
}

// Level 3 section
#lvl3-main {
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
  opacity: 0.7;
  background-color: white;
  padding: 15px;
  z-index: 10000;
  border-top: 1px solid $black;
  cursor: pointer;
  transition: 1s all ease;
}

#lvl3-main.out {
  opacity: .95;
}

#sudoku {
  font-weight: 400;
  table {
    margin: 15px auto;
    border: 1px solid $black;
    tr {
      border: 1px solid $black;
      td {
        padding: 5px;
        border-right: 1px solid $black;
      }
    }
  }
}

// Different colors for each level
.in-level1 {
  .btn-primary {
    border-color: $darklevel1;
    background-color: $level1;
    color: $black;
  }
  .ui-widget-header {
    background: none;
    background-color: $level1;
  }
}

.in-level2 {
  .btn-primary {
    border-color: $darklevel2;
    background-color: $level2;
    color: $black;
  }
  .ui-widget-header {
    background: none;
    background-color: $level2;
  }
}

.in-level3 {
  .btn-primary {
    border-color: $darklevel3;
    background-color: $level3;
    color: $black;
  }
  .ui-widget-header {
    background: none;
    background-color: $level3;
  }
}

/** RESPONSIVE DESIGN **/
@media (min-width: 600px) {
  .section {
    padding: 65px 3% 3% 3%;
    .choice {
      .radio-row {
        .cell {
          float: left;
          margin-bottom: 0;
          transition: 0.4s all ease;
          &:hover { 
            transform: scale(1.1);
            -ms-transform: scale(1.1); /* IE 9 */
            -moz-transform: scale(1.1); /* Firefox */
            -webkit-transform: scale(1.1); /* Safari and Chrome */
            -o-transform: scale(1.1); /* Opera */
          }
          &.lg-4 {
            width: 33%;
          }
        }
      }
    }
  }

  #check {
    padding: 65px 3% 3% 3%;
    .result {
      font-weight: 500;
    }
  }
  #checkresult {
    padding: 65px 3% 3% 3%;
    #checkgraph {
      .row {
        .cell {
          height: 150px;
        }
      }
    }
  }
}

@media (min-width: 980px) {
  header, nav, #headernav {
    display: block;
  }
  .section {
    min-height: 100%;
    margin: 0;
    padding: 65px 15% 10px 15%;
  }

  #check, #checkresult {
    min-height: 100%;
    margin: 0;
    padding: 65px 15% 10px 15%;
  }
}
