/**
* Checker. Applies to everything related to the first part of the Experiment.
**/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

html, body { 
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

/** HEADER **/
$demand: #f39c12;
$supply: #2980b9;
$check: #2ecc71;

.header {
  position: fixed;
  height: 65px;
  width: 100%;
  top: 0;
  background-color: rgba(240,242,244,.85);
  border-bottom: 1px solid #ddd;
  z-index: 10;
  
  .header-menu {
    position: relative;
    
    .menu-nav {
      margin: auto;
      width: 560px;
        
      .demand { 
        border-top: 3px solid $demand; 
        .icon:hover, .active {
          background-color: $demand; 
        }
      }
      .supply { 
        border-top: 3px solid $supply;
        .icon:hover, .active {
          background-color: $supply; 
        }
      }
      .check { 
        border-top: 3px solid $check;
        .checkicon:hover, .active {
          background-color: $check; 
        }
      }
      .menu-nav-box {
        float: left;
        position: relative;
        text-align: center; 
        
        .menu-nav-title {
          height: 22px;
          font-size: 12px;
          line-height: 14px;
          font-weight: bold;
        }
        
        .menu-nav-content {
          color: #333;
            
          a, a:focus, a:visited, a:hover {
            color: inherit;
            text-decoration: none;
          }
          
          .menu-nav-item {
            float: left;
            transition: 1s all ease;
          }
          
          .line {
            width: 20px;
            height: 15px;
            border-bottom: 2px solid #333;
          }
         
          .space {
            width: 20px;
          }
         
          .icon, .checkicon {
            width: 30px;
            line-height: 25px;
            border: 2px solid #333;
            border-radius: 50%;
          }
        }
      }
    }
  }
  
  .header-save {
    margin: 15px 15px 0 0;
  }
}

.section {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 60px 20% 10px 20%;
  font-weight: 300;

  .title {
    .subtitle {

    }
  }

  .description {

  }

  .choice.radio {
    display: table;
    height: 70px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 5px;
    margin-bottom: 15px;
    .radio-row {
      display: table-row;
      .spacer {
        width: 1px;
      }
      .lg4 {
        display: table-cell; 
        font-weight: bold;
        cursor: pointer;
        vertical-align: middle;
        text-align: center;
        border-bottom: 2px solid #FFF;
        &:hover { 
          border-bottom: 2px solid #428BCA;
        }
      }
      .lg4 {
        width: 33.33%;
      }
      .active {
        background-color: #F7F7F7;
        border-bottom: 2px solid #5cb85c;
        &:hover { 
          border-bottom: 2px solid #5cb85c;
        }
      }
    }
  }
}

#demographics {
//  background-color: rgba(241, 196, 15,1.0);
}

#diet {
 // background-color: rgba(241, 196, 15,0.9);
}

#households {
  //background-color: rgba(241, 196, 15,0.8);
}

#services {
  //background-color: rgba(241, 196, 15,0.7);
}

#density {}
#land {}
#bm {}
#agriculture {}
#energy {}
