/** CHECKER **/
/** COMMON **/
html, body { 
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/** COLORS **/
$yellow: #f39c12;
$red: #e74c3c;
$green: #2ecc71;
$blue: #3498db;
$black: #333333;
$white: #f2f2f2;
$alphawhite: rgba(242,242,242,.75);
$grey: #dddddd;
$invisible: rgba(0, 0, 0, 0);

/** HEADER **/
header {
  position: fixed;
  height: 65px;
  width: 100%;
  background-color: $alphawhite;
  border-bottom: 1px solid $grey;
  z-index: 10;

  nav {
    position: relative;
    margin: auto;
    width: 560px;

    .titles {
      position: absolute;
      top: 0px;
      text-align: center;

      .title {
        float: left;
        font-weight: 500;
      }

      .demand {
        border-top: 2px solid $yellow;
        width: 220px;
      }

      .supply {
        border-top: 2px solid $blue;
        width: 270px;
      }

      .check {
        border-top: 2px solid $green;
        width: 70px;
      }
    }

    hr {
      margin: auto;
      width: 510px;
      border-bottom: 2px solid $black;
      height: 40px;
    }

    ul {
      position: absolute;
      top: 27px;
      list-style-type: none;
      padding-left: 0;

      li {
        float: left; 
        line-height: 25px;
        text-align: center;

        a {
          display: block;
          width: 31px;
          height: 30px;
          margin: 0 12px;
          padding-left: 1px;
          background-color: $white;
          border: 2px solid $black;
          border-radius: 50%;
          color: $black;
          transition: 
            background-color 1s ease, 
            color 1s ease;
          &:hover, &:focus, &:visited { 
            color: $black;
          }
          &.active.demand {
            background-color: $yellow;
          }
          &.active.supply {
            background-color: $blue;
          }
          &.active.check {
            background-color: $green;
          }
        }
      }
    }
  }
}

/** SECTIONS **/
.section {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 60px 20% 10px 20%;
  font-weight: 300;

  .choice.radio {
    display: table;
    height: 70px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 5px;
    margin-bottom: 15px;
    .radio-row {
      display: table-row;
      .spacer {
        width: 1px;
      }
      .lg4 {
        display: table-cell; 
        font-weight: bold;
        cursor: pointer;
        vertical-align: middle;
        text-align: center;
        border-bottom: 2px solid $invisible;
        &:hover { 
          border-bottom: 2px solid $blue;
        }
      }
      .lg4 {
        width: 33.33%;
      }
      .active {
        background-color: $white;
        border-bottom: 2px solid $green;
        &:hover { 
          border-bottom: 2px solid $green;
        }
      }
    }
  }
  .slider {
    .ui-widget-header {
      background: #4D90FE;
    }

    .min-limit, .max-limit {
      position: absolute;
      top: 0;
      height: 100%;
      background-color: #ddd;
      z-index: 2;
    }

    .min-limit {
      left: 0;
      background-color: rgba(208, 208, 208, 0.5);
    }
    .max-limit {
      right: 0;
    }
    .l25 {
      width: 25%;
    }
    .l50 {
      width: 50%;
    }
    .l75 {
      width: 75%;
    }
  }
}

/** CHECK **/
#check {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 60px 20% 10px 20%;
  font-weight: 300;
  display: table;

  .precheck {
    height: 100%;
    display: table-cell;   
    vertical-align: middle;
    text-align: center;

    .alert {
      text-align: left;  
      margin-top: 20px;
    }
  }
}
