body {
  font-family: 'Open Sans', sans-serif;
}

// HEADER
.site-header {
  background-color: #F0F0F0;
  border-bottom: 1px solid #DDD;
  width: 100%;
}

.site-nav {
  background: image-url("site-nav-shadow.png") bottom center no-repeat;
  margin: auto;
  clear: both;
  max-width: 978px;
  padding: 37px 0 12px;
  position: relative;
  width: 98%;
}

.site-nav:after {
  clear: both;
  content: ' ';
  display: block;
  height: 0;
  visibility: hidden;
}

.site-logo {
  background: image-url("http://dummyimage.com/160x80/333/fff.png&text=LOGO");
  float: left;
  height: 79px;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  width: 159px;
  margin-right: 50px;
}

.site-nav-items {
  float: left;
  list-style-type: none;
  margin: 46px 0 0 0;
}

.site-nav-items li {
  display: inline;
  margin: 0 0 0 35px;
}

.site-nav-items a {
  color: #888;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
}

.site-nav-items .selected {
  color: #4C4C4C;
}

.site-nav-items .selected:after {
  bottom: -30px;
  content: image-url("site-nav-arrow.png");
  left: 50%;
  position: absolute;
  margin-left: -12px;
}

// FOOTER
.site-footer {
  border-bottom: 1px solid #F0F0F0;
  border-top: 1px solid #F0F0F0;
  background: #FFF;
}

.site-footer-content {
  margin: 0 auto;
  max-width: 978px;
  padding: 12px 0 11px;
  width: 98%;
}

.site-footer-content:after {
  clear: both;
  content: ' ';
  display: block;
  height: 0;
  visibility: hidden;
}

.site-footer ul {
  float: left;
  font-size: 13px;
  list-style-type: none;
  margin: 0 7px 0 0;
}

.site-footer li {
  display: inline;
  margin: 0 15px 0 0;
}

.site-footer-list {
  margin: 0;
  padding: 0;
}

.site-footer-list a {
  color: #888;
  font-weight: 600;
  text-decoration: none;
}

.site-footer .social {
  border-left: 1px solid #E6E6E6;
  padding-left: 22px;
}

.site-footer .social .fa {
  font-size: 18px;
}

.site-footer .social .fa-facebook-square {
  color: #3b5998;
}

.site-footer .social .fa-twitter-square {
  color: #00aced;
}

.site-footer .social .fa-google-plus-square {
  color: #dd4b39;
}
