body {
  font-family: 'Open Sans', sans-serif;
}

.popover {
  font-weight: 200;
  font-size: 13px;
  max-width: none;
  width: 350px;
  font-family: 'Open Sans', sans-serif;
}

// BETA RIBBON
.beta-ribbon {
  background-color: #23A7C0;
  overflow: hidden;
  white-space: nowrap;
  /* top left corner */
  position: absolute;
  left: -38px;
  top: 29px;
  z-index: 100;
  /* 45 deg ccw rotation */
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  /* shadow */
  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
}

.beta-ribbon a {
  border: 1px solid #23D7F0;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 5px #444;
}

// HEADER
.navbar-nav {
  float:none;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
}

.navbar-nav .active {
  color: #17B0CD;
}

// FOOTER
.site-footer {
  border-bottom: 1px solid #F0F0F0;
  border-top: 1px solid #F0F0F0;
  background: #FFF;
}

.site-footer.inapploading {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000000;
}

.site-footer.withoverlay {
  margin-bottom: 61px;
}

.site-footer-content {
  margin: 0 auto;
  max-width: 978px;
  padding: 12px 0 11px;
  width: 98%;
}

.site-footer-content:after {
  clear: both;
  content: ' ';
  display: block;
  height: 0;
  visibility: hidden;
}

.site-footer ul {
  float: left;
  font-size: 13px;
  list-style-type: none;
  margin: 0 7px 0 0;
}

.site-footer li {
  display: inline;
  margin: 0 15px 0 0;
}

.site-footer-list {
  margin: 0;
  padding: 0;
}

.site-footer-list a {
  color: #888;
  font-weight: 600;
  text-decoration: none;
}

.site-footer .social {
  border-left: 1px solid #E6E6E6;
  padding-left: 22px;
}

.site-footer .social .fa {
  font-size: 18px;
}

.site-footer .social .fa-facebook-square {
  color: #3b5998;
}

.site-footer .social .fa-twitter-square {
  color: #00aced;
}

.site-footer .social .fa-google-plus-square {
  color: #dd4b39;
}

// COMMON
.site-body-content {
  clear: both;
  margin: 0 auto;
  max-width: 978px;
  padding: 25px 1px;
  width: 98%;
}

.site-body-content h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  color: #23A7C0;
  font-size: 37px;
  line-height: 1.15em;
  margin: 8px 0;
}

.site-body-content h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  font-size: 32px;
  color: #23A7C0;
  line-height: 1.2em;
  margin: 30px 0 8px;
}

.site-body-content h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 17px;
  margin: 12px 0 6px;
  line-height: 1.4em;
}

.site-body-content h1 span {
  display: block;
}

.site-body-content p {
  color: #666;
  font-size: 15px;
  line-height: 1.6em;
}

.site-body-content img {
     max-width: 100%;
}

.site-body-content .more, .site-body-content a {
  font-weight: 600;
  margin: 20px 0 0;
  padding: 0;
  text-decoration: none;
}

.site-body-content .more.capitalize, .site-body-content a.capitalize {
  font-size: 12px;
  text-transform: uppercase;
}

.site-body-content .more span {
  position: relative;
  padding: 0 3px;
}

.site-body-content .more span i {
  position: absolute;
  top: 3px;
  left: 3px;
  margin-left: 4px;
  -moz-transition: margin-left .1s linear;
  -webkit-transition: margin-left .1s linear;
  transition: margin-left .1s linear;
}

.site-body-content .more:hover span i, .site-body-content a:hover .more span i {
  margin-left: 6px;
}

.main-divider {
  margin-top: 60px;
  margin-bottom: 60px;
}

.divider {
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0;
  border-top: 1px solid #DEDEDE;
}

#scrolltopicon-cont {
  position: fixed;
  bottom: -4px;
  right: 6px;
  display: none;
  font-size: 36px;
  cursor: pointer;
}

// INDEX
.index-intro {
  padding-top: 10px;
}

.index-logo {
  text-align: center;
}

.index-playsudoku {
  text-align: center;
  padding: 0 50px;
}

.index-about h2 {
  margin: 8px 0 22px;
  padding-bottom: 0;
}

.index-about h3 {
  margin-top: 22px;
}

.index-about ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #666;
  line-height: 1.6em;
}

.index-about p {
  margin: 0;
  font-size: 13px;
}

// MORE
.more-divider {
  margin-top: 40px;
}

.more-image {
  padding-top: 20px;
}

// GLOSSARY
.gloss-main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// CONTACT
.row-fluid .borderright {
  border-right: 1px solid #EEE;
}

#map_canvas {
  width: 100%;
}

.visitimg {
  margin: 0 15px 15px 0;
}

// COOKIES
.cookie-alert-appcont #cookie-alert {
  margin-top: 15px;
}

#cookie-alert .alert {
  padding: 8px;
  margin-bottom: 15px;
}

.cookies strong {
  font-weight: 500;
}
