// Remove link decoration for main banner and footer and create fake hr
.banner, .banner:visited {
	display: block;
	background-color: #5cb85c;

	text-decoration: none;
	color: #FFF;

	border-bottom: 1px solid #eeeeee;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.banner:hover {
	text-decoration: none;
}

.footer {
	padding-top: 10px;
	background-color: #eeeeee;
}

// Format main subtitle
h1 small {
	padding-left: 10px;
	color: #eeeeee;
	font-style: italic;
	font-size: 20px;
}

// Pushes home main container a little bit below because there is no <h1> to apply a margin
.home-push {
	margin-bottom: 20px;
}

// Makes paragraphs more readable by spacing and coloring 
.main p {
	line-height: 22px;
	color: #555;
}

// Colors for social icons
a .icon-twitter-sign, a .icon-facebook-sign, a .icon-google-plus-sign, a .icon-globe {
  text-decoration: none;
}

a .icon-twitter-sign {
  color: #4099FF;
}

a .icon-facebook-sign {
  color: #3B5998;
}

a .icon-google-plus-sign {
  color: #D34836;
}

a .icon-globe {
  color: #444;
}