/*****************************************************
* GENERAL LAYOUT
*****************************************************/
$footerH: 60px;

html {
	overflow-y: scroll;
}

html,
body {
  height: 99.9%;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto (-$footerH);
  padding: 0 0 $footerH;
}

// HEADER
.banner, .banner:visited {
	display: block;
	background-color: #5cb85c;

	text-decoration: none;
	color: #FFF;

	border-bottom: 1px solid #dddddd;
	padding-bottom: 10px;
	margin-bottom: 20px;

	&:hover {
		text-decoration: none;
	}

	h1 {
		text-shadow: 1px 1px 1px #366B36;

		small {
			text-shadow: none;
			padding-left: 10px;
			color: #fff;
			font-style: italic;
			font-size: 20px;
		}
	}
}

// FOOTER
.footer {
  height: $footerH;
  background-color: #eee;
	border-top: 1px solid #dddddd;
	padding-top: 10px;
	color: #555;

  nav, ul, li {
    display: inline;
  }

  ul {
    list-style: none;
  }
}

// MAIN CONTAINER
.main {
	p {
		// Makes paragraphs more readable by spacing and coloring 
		line-height: 22px;
		color: #555;
	}
}

/*****************************************************
* HOME
*****************************************************/
// Compensates lack of title by applying margin top
.home-push {
	margin-bottom: 20px;
}

// Colors for social icons
a {
	.icon-twitter-sign, .icon-facebook-sign, .icon-google-plus-sign, .icon-globe {
  	text-decoration: none;
  }

  .icon-twitter-sign {
	  color: #4099FF;
	}

	.icon-facebook-sign {
	  color: #3B5998;
	}

	.icon-google-plus-sign {
	  color: #D34836;
	}

	.icon-globe {
	  color: #444;
	}
}

