html, body { 
  height: 100%;
  width: 100%;
}

body{
  font-family: 'Open Sans', sans-serif;
}

hr {
  margin-top: 0;
}

.btn-row {
  margin-top: 25px;
  text-align: center;
}

.section {
  width: 100%;
  min-height: 100%;
  padding: 50px 15%;
}

#home h1 {
  text-align: center;
}

#home #intro-text {
  margin: 25px 0;
}

#home #intro-text img {
  float: left;
  margin: 0 15px 10px 0;
}

#home .row {
  clear: both;
}

#footer {
  padding: 10px 25px;
  background-color: #efefef;
  text-align: center;
}

/*#home {
  background-color: #efefef;
}
#more {
  background-color: #ddd;
}
#about {
  background-color: #efefef;
}
#contact {
  background-color: #ddd;
}
#credits {
  background-color: #efefef;
}*/


