<div class='card animated hidden' id='d_dem'>
  <div class='card-header'>
    <div class='card-title'>
      Demographics / Life Expectancy
    </div>
    <div class='card-question'>
      > What is the average life expectancy for your population?
    </div>
  </div>
  <div class='card-body'>
    <div class='card-choice choice-grid'>
      <div class='choice-grid-row'>
        <div class='lg4' data-cv-value='inf60'>&lt; 60y.</div>
        <div class='lg4' data-cv-value='60-80'>60-80y.</div>
        <div class='lg4' data-cv-value='sup80'>&gt; 80y.</div>
      </div>
    </div>
    <div class='card-subtitle'>
      <em>"The longer your population live, the more resources you will have to allocate to services, especially healthcare."</em>
    </div>
  </div>
</div>
