<div class='card animated hidden' id='d_die'>
  <div class='card-header'>
    <div class='card-title'>
      Diet
    </div>
    <div class='card-question'>
      > What is the average meat consumption of your population?
    </div>
  </div>
  <div class='card-body'>
    <div class='card-choice'>
      <div class='card-choice-row'>
        <div class='card-choice-cell lg4' data-cv-value='low'>No meat</div>
        <div class='card-choice-cell lg4' data-cv-value='mid'>Average</div>
        <div class='card-choice-cell lg4' data-cv-value='high'>High meat</div>
      </div>
    </div>
    <div class='card-subtitle'>
      <em>"The more meat your people eat, the more food you will have to produce to feed your animals."</em>
    </div>
  </div>
</div>