<div class='card animated hidden' id='d_hou'>
  <div class='card-header'>
    <div class='card-title'>
      Households
    </div>
    <div class='card-question'>
      > Where is your population mostly concentrated ?
    </div>
  </div>
  <div class='card-body'>
    <div class='row text-center' style='margin-top: 10px;'>
        <div class='col-md-3'>Urban</div>
        <div class='col-md-3'>Suburban</div>
        <div class='col-md-3'>Rural</div>
        <div class='col-md-3'>Slums</div>      
    </div>
    <div class='card-choice choice-services row' data-choice-type='services2'>
      <div class='choice-ss-body col-md-3'>
        <div class='choice-ss-slider' data-service='edu'></div>
        <div class='choice-ss-value'>0</div>
      </div>
      <div class='choice-ss-body col-md-3'>
        <div class='choice-ss-slider' data-service='hea'></div>
        <div class='choice-ss-value'>0</div>
      </div>
      <div class='choice-ss-body col-md-3'>
        <div class='choice-ss-slider' data-service='lei'></div>
        <div class='choice-ss-value'>0</div>
      </div>
      <div class='choice-ss-body col-md-3'>
        <div class='choice-ss-slider' data-service='pub'></div>
        <div class='choice-ss-value'>0</div>
      </div>
    </div>
    <div class='card-subtitle'>
      <em>"If all your people lived scattered across the land, ambulances would have a hard time reaching all of them in due time!"</em>
    </div>
  </div>
</div>
