<div class='card animated hidden' id='d_hou'>
  <div class='card-header'>
    <div class='card-title'>
      Households
    </div>
    <div class='card-question'>
      > Where is your population mostly concentrated ?
    </div>
  </div>
  <div class='card-body'>
    <div class='card-choice'>
      <div class='row text-center'>
        <div class='col-md-3'>
          <div class='card-choice-item' data-cv-value='suburb'>Suburban</div>
        </div>
        <div class='col-md-3'>
          <div class='card-choice-item' data-cv-value='urban'>Urban</div>
        </div>
        <div class='col-md-3'>
          <div class='card-choice-item' data-cv-value='rural'>Rural</div>
        </div>
        <div class='col-md-3'>
          <div class='card-choice-item' data-cv-value='slum'>Slums</div>
        </div>
      </div>
    </div>
    <div class='card-subtitle'>
      <em>"If all your people lived scattered across the land, ambulances would have a hard time reaching all of them in due time!"</em>
    </div>
  </div>
</div>