<div class='card animated hidden' id='d_ser'>
  <div class='card-header'>
    <div class='card-title'>
      Services &amp; Government
    </div>
    <div class='card-question'>
      > How much do you want to allocate to every service ?
    </div>
  </div>
  <div class='card-body'>
    <div class='row text-center' style='margin-top: 10px;'>
        <div class='col-md-3'>Education</div>
        <div class='col-md-3'>Healthcare</div>
        <div class='col-md-3'>Leisure</div>
        <div class='col-md-3'>Public Institutions</div>      
    </div>
    <div class='card-choice choice-services row' data-choice-type='services'>
      <div class='choice-ss-body col-md-3'>
        <div class='choice-ss-slider' data-service='edu'></div>
        <div class='choice-ss-value'>1</div>
      </div>
      <div class='choice-ss-body col-md-3'>
        <div class='choice-ss-slider' data-service='hea'></div>
        <div class='choice-ss-value'>1</div>
      </div>
      <div class='choice-ss-body col-md-3'>
        <div class='choice-ss-slider' data-service='lei'></div>
        <div class='choice-ss-value'>1</div>
      </div>
      <div class='choice-ss-body col-md-3'>
        <div class='choice-ss-slider' data-service='pub'></div>
        <div class='choice-ss-value'>1</div>
      </div>
    </div>
    <div class='card-subtitle'>
      <em>"The higher resources you allocate, the more litterate your population becomes, but training all these people has a cost."</em>
    </div>
  </div>
</div>
