<div class='card animated hidden' id='d_ser_hea'>
  <div class='card-header'>
    <div class='card-title'>
      Services / Healthcare
    </div>
    <div class='card-question'>
      > How much do you want to allocate to Healthcare ?
    </div>
  </div>
  <div class='card-body'>
    <div class='card-choice'>
      <div class='card-choice-row'>
        <div class='card-choice-cell lg4' data-cv-value='low'>Low</div>
        <div class='card-choice-cell lg4' data-cv-value='mid'>Medium</div>
        <div class='card-choice-cell lg4' data-cv-value='high'>High</div>
      </div>
    </div>
    <div class='card-subtitle'>
      <em>"The higher resources you allocate, the more healthy your population becomes, but healing all these people has a cost."</em>
    </div>
  </div>
</div>