<div class='card animated hidden' id='s_ene'>
  <div class='card-header'>
    <div class='card-title'>
      Energy / Fuels
    </div>
    <div class='card-question'>
      > How do you locally obtain fuels for your country ?
    </div>
  </div>
  <div class='card-body'>
    <div class='card-choice choice-soloslider' data-choice-type='soloslider3'>

      <h3>Fuels:</h3>
      <div class='choice-ss-body'>
        <div>Imported fossile fuels:</div>
        <div class='choice-ss-slider'></div>
        <div class='choice-ss-value pull-right'>0</div>
      </div>
      <div class='choice-ss-body'>
        <div>Local biomass:</div>
        <div class='choice-ss-slider'></div>
        <div class='choice-ss-value pull-right'>0</div>
      </div>
      <h3>Electricity:</h3>
      <div class='choice-ss-body'>
        <div>Imported fossile fuels:</div>
        <div class='choice-ss-slider'></div>
        <div class='choice-ss-value pull-right'>0</div>
      </div>
      <div class='choice-ss-body'>
        <div>Nuclear:</div>
        <div class='choice-ss-slider'></div>
        <div class='choice-ss-value pull-right'>0</div>
      </div>
      <div class='choice-ss-body'>
        <div>Hydro:</div>
        <div class='choice-ss-slider'></div>
        <div class='choice-ss-value pull-right'>0</div>
      </div>
      <div class='choice-ss-body'>
        <div>PV/Wind:</div>
        <div class='choice-ss-slider'></div>
        <div class='choice-ss-value pull-right'>0</div>
      </div>
    </div>
    <div class='card-subtitle'>
      <em>"......"</em>
    </div>
  </div>
</div>
