<div class='card animated hidden' id='d_ser_pub'>
  <div class='card-header'>
    <div class='card-title'>
      Services &amp; Government / Public Institutions
    </div>
    <div class='card-question'>
      > How much do you want to allocate to Public Institutions?
    </div>
  </div>
  <div class='card-body'>
    <div class='card-choice'>
      <div class='card-choice-row'>
        <div class='card-choice-cell lg4' data-cv-value='low'>Low</div>
        <div class='card-choice-cell lg4' data-cv-value='mid'>Medium</div>
        <div class='card-choice-cell lg4' data-cv-value='high'>High</div>
      </div>
    </div>
    <div class='card-subtitle'>
      <em>"Public institutions will provide services to the population that would otherwise be denied to them becuse they lack the funds to benefit from them."</em>
    </div>
  </div>
</div>