<div class='card animated hidden' id='s_den'>
  <div class='card-header'>
    <div class='card-title'>
      Population Density
    </div>
    <div class='card-question'>
      > What is your population density ?
    </div>
  </div>
  <div class='card-body'>
    <div class='card-choice'>
      <div class='card-choice-row'>
        <div class='card-choice-cell lg4' data-cv-value='low'>Low</div>
        <div class='card-choice-cell lg4' data-cv-value='mid'>Medium</div>
        <div class='card-choice-cell lg4' data-cv-value='high'>High</div>
      </div>
    </div>
    <div class='card-subtitle'>
      <em>"Population density reflects how scattered or concentrated your population is. It would be easier to attend to the needs of everyone if they were all in the same place, but wouldn't they suffocate if it was too concentrated ?"</em>
    </div>
  </div>
</div>