<div class='card animated hidden' id='s_agr'>
  <div class='card-header'>
    <div class='card-title'>
      Agriculture
    </div>
    <div class='card-question'>
      > Is your agriculture heavily industrialized or do you employ a lot of people ?
    </div>
  </div>
  <div class='card-body'>
    <div class='card-choice'>
      <div class='row text-center'>
        <div class='col-md-4'>
          <div class='card-choice-item' data-cv-value='low'>Labor-intensive</div>
        </div>
        <div class='col-md-4'>
          <div class='card-choice-item' data-cv-value='mid'>Average</div>
        </div>
        <div class='col-md-4'>
          <div class='card-choice-item' data-cv-value='high'>Industrialized</div>
        </div>
      </div>
    </div>
    <div class='card-subtitle'>
      <em>"You don't have to pay a salary for employing a machine, but you do need to pay for the repairman when it's broken!"</em>
    </div>
  </div>
</div>