<div class='card animated hidden' id='s_ene_fue'>
  <div class='card-header'>
    <div class='card-title'>
      Energy / Fuels
    </div>
    <div class='card-question'>
      > How do you locally obtain fuels for your country ?
    </div>
  </div>
  <div class='card-body'>
    <div class='card-choice'>
      <div class='card-choice-row'>
        <div class='card-choice-cell lg4' data-cv-value='ff'>100% Imported Fossil Fuels</div>
        <div class='card-choice-cell lg4' data-cv-value='mid'>50% Imported Fossile Fuels, 50% Local Biomass</div>
        <div class='card-choice-cell lg4' data-cv-value='bio'>100% Local Biomass</div>
      </div>
    </div>
    <div class='card-subtitle'>
      <em>"......"</em>
    </div>
  </div>
</div>