<div class='card animated hidden' id='s_ene_ele'>
  <div class='card-header'>
    <div class='card-title'>
      Energy / Electricity
    </div>
    <div class='card-question'>
      > How is your electricity produced locally ?
    </div>
  </div>
  <div class='card-body'>
    <div class='card-choice'>
      <div class='card-choice-row'>
        <div class='card-choice-cell lg4' data-cv-value='ff'>100% Fossil Fuels</div>
        <div class='card-choice-cell lg4' data-cv-value='mid'>50% Fossile Fuels, 50% Nuclear Energy</div>
        <div class='card-choice-cell lg4' data-cv-value='ren'>100% Renewable</div>
      </div>
    </div>
    <div class='card-subtitle'>
      <em>"....."</em>
    </div>
  </div>
</div>