<div class='card animated hidden' id='s_bm'>
  <div class='card-header'>
    <div class='card-title'>
      Building &amp; Manufacturing
    </div>
    <div class='card-question'>
      > Does your country possess a lot of industries ?
    </div>
  </div>
  <div class='card-body'>
    <div class='card-choice'>
      <div class='card-choice-row'>
        <div class='card-choice-cell lg4' data-cv-value='low'>Low</div>
        <div class='card-choice-cell lg4' data-cv-value='mid'>Medium</div>
        <div class='card-choice-cell lg4' data-cv-value='high'>Heavy</div>
      </div>
    </div>
    <div class='card-subtitle'>
      <em>"........"</em>
    </div>
  </div>
</div>