<div class='card animated hidden' id='s_ind'>
  <div class='card-header'>
    <div class='card-title'>
      Industrialization
    </div>
    <div class='card-question'>
      > Does your country possess a lot of industries ?
    </div>
  </div>
  <div class='card-body'>
    <div class='card-choice'>
      <div class='row text-center'>
        <div class='col-md-4'>
          <div class='card-choice-item' data-cv-value='low'>Low</div>
        </div>
        <div class='col-md-4'>
          <div class='card-choice-item' data-cv-value='mid'>Medium</div>
        </div>
        <div class='col-md-4'>
          <div class='card-choice-item' data-cv-value='high'>Heavy</div>
      </div>
    </div>
    <div class='card-subtitle'>
      <em>"........"</em>
    </div>
  </div>
</div>