<div class='card animated hidden' id='s_agr' data-card-id=6 data-card-name='agriculture' data-card-slug='s_agr'>
  <div class='card-header'>
    <div class='card-title'>
      Agriculture
    </div>
    <div class='card-question'>
      > Is your agriculture heavily industrialized or do you employ a lot of people ?
    </div>
  </div>
  <div class='card-body'>
    <div class='card-choice choice-soloslider' data-choice-type='soloslider2'>
      <div class='choice-ss-body'>
        <div class='choice-ss-slider'></div>
        <div class='choice-ss-value pull-right'>1</div>
      </div>
    </div>
    <div class='card-subtitle'>
      <em>"You don't have to pay a salary for employing a machine, but you do need to pay for the repairman when it's broken!"</em>
    </div>
  </div>
</div>
