<div class='card animated hidden' data-card-id=6 data-card-name='agriculture' data-card-slug='s_agr'>
  <div class='card-header'>
    <div class='card-title'>
      Agriculture
    </div>
    <div class='card-question'>
      > Is your agriculture heavily industrialized or do you employ a lot of people ?
    </div>
  </div>
  <div class='card-body'>
    <div class='card-choice choice-grid' data-choice-type='radio'>
      <div class='choice-grid-row'>
        <div class='choice-grid-radio lg4 btooltip' data-cv-value='low' title='e.g. Central Africa, India'>Labor-intensive</div>
        <div class='choice-grid-radio lg4 btooltip' data-cv-value='mid' title='e.g. Brazil, Mexico'>Average</div>
        <div class='choice-grid-radio lg4 btooltip' data-cv-value='high' title='e.g. USA, Europe, Australia'>Industrialized</div>
      </div>
    </div>
    <div class='card-subtitle'>
      <em>"You don't have to pay a salary for employing a machine, but you do need to pay for the repairman when it's broken!"</em>
    </div>
  </div>
</div>
