<div class='card animated hidden' data-card-id=7 data-card-name='agriculture' data-card-slug='s_agr'>
  <div class='card-header'>
    <div class='card-title'>
      Agriculture
    </div>
    <div class='card-question'>
      > How is your typology of agriculture and production?
    </div>
  </div>
  <div class='card-body'>
    <div class='card-choice choice-grid' data-choice-type='radio'>
      <div class='choice-grid-row'>
        <div class='choice-grid-radio lg4 btooltip' data-cv-value='low' title='e.g. Central Africa, India'>Traditional, Labor-intensive</div>
        <div class='choice-grid-radio lg4 btooltip' data-cv-value='mid' title='e.g. Brazil, Mexico'>Mixed</div>
        <div class='choice-grid-radio lg4 btooltip' data-cv-value='high' title='e.g. USA, Europe, Australia'>Industrialized, Mechanized</div>
      </div>
    </div>
    <div class='card-subtitle'>
      <em>"..."</em>
    </div>
  </div>
</div>
