<div class='card animated hidden' data-card-id=7 data-card-name='building' data-card-slug='s_bm'>
  <div class='card-header'>
    <div class='card-title'>
      Building &amp; Manufacturing
    </div>
    <div class='card-question'>
      > Does your country possess a lot of industries ?
    </div>
  </div>
  <div class='card-body'>
    <div class='card-choice choice-slider' data-choice-type='slider'>
      <div class='slider' data-slider-name='s_bm' data-slider-options='{"range":"min","max":"2","animate":"true"}'></div>
      <div class='slidervalue' data-slider-type='lmh'>Low</div>
    </div>
    <div class='card-subtitle'>
      <em>"........"</em>
    </div>
  </div>
</div>
