<div class='card animated hidden' id='s_ene' data-card-id=8 data-card-name='energy' data-card-slug='s_ene'>
  <div class='card-header'>
    <div class='card-title'>
      Energy
    </div>
    <div class='card-question'>
      > Describe your energy supply.
    </div>
  </div>
  <div class='card-body'>
    <div class='card-choice choice-soloslider' data-choice-type='soloslider3'>

      <h3>Energy Carriers:</h3>
      <p>What percentage of each carrier (used directly by your society) ?</p>
      <div class='choice-ss-body'>
        <div>Fuels:</div>
        <div class='choice-ss-slider'></div>
        <div class='choice-ss-value pull-right'>0</div>
      </div>
      <div class='choice-ss-body'>
        <div>Electricity:</div>
        <div class='choice-ss-slider'></div>
        <div class='choice-ss-value pull-right'>0</div>
      </div>
      <h3>Primary Energy Sources:</h3>
      <p>Which primary energy sources (local gradients entering into the EM sector) are making your local supply ?</p>
      <div class='choice-ss-body'>
        <div>Nuclear:</div>
        <div class='choice-ss-slider'></div>
        <div class='choice-ss-value pull-right'>0</div>
      </div>
      <div class='choice-ss-body'>
        <div>Hydropower:</div>
        <div class='choice-ss-slider'></div>
        <div class='choice-ss-value pull-right'>0</div>
      </div>
      <div class='choice-ss-body'>
        <div>Photovoltaics:</div>
        <div class='choice-ss-slider'></div>
        <div class='choice-ss-value pull-right'>0</div>
      </div>
      <div class='choice-ss-body'>
        <div>Wind Power:</div>
        <div class='choice-ss-slider'></div>
        <div class='choice-ss-value pull-right'>0</div>
      </div>
    </div>
    <div class='card-subtitle'>
      <em>"......"</em>
    </div>
  </div>
</div>
