<div class='card animated hidden' data-card-id=2 data-card-name='households' data-card-slug='d_hou'>
  <div class='card-header'>
    <div class='card-title'>
      Households
    </div>
    <div class='card-question'>
      > Where is your population mostly concentrated ?
    </div>
  </div>
  <div class='card-body'>
    <div class='row text-center' style='margin-top: 10px;'>
        <div class='col-md-3'>Urban</div>
        <div class='col-md-3'>Suburban</div>
        <div class='col-md-3'>Rural</div>
        <div class='col-md-3'>Slums</div>      
    </div>
    <div class='card-choice choice-services row' data-choice-type='slidergroup'>
      <div class='choice-slider col-md-3'>
        <div class='slider' data-slider-name='d_hou_urb' data-slider-options='{"orientation":"vertical","range":"min","value":25,"step":25,"animate":"true"}'></div>
        <div class='slidervalue' data-slider-type='percent'>0%</div>
      </div>
      <div class='choice-slider col-md-3'>
        <div class='slider' data-slider-name='d_hou_sub' data-slider-options='{"orientation":"vertical","range":"min","value":25,"step":25,"animate":"true"}'></div>
        <div class='slidervalue' data-slider-type='percent'>0%</div>
      </div>
      <div class='choice-slider col-md-3'>
        <div class='slider' data-slider-name='d_hou_rur' data-slider-options='{"orientation":"vertical","range":"min","value":25,"step":25,"animate":"true"}'></div>
        <div class='slidervalue' data-slider-type='percent'>0%</div>
      </div>
      <div class='choice-slider col-md-3'>
        <div class='slider' data-slider-name='d_hou_slu' data-slider-options='{"orientation":"vertical","range":"min","value":25,"step":25,"animate":"true"}'></div>
        <div class='slidervalue' data-slider-type='percent'>0%</div>
      </div>
    </div>
    <div class='card-subtitle'>
      <em>"If all your people lived scattered across the land, ambulances would have a hard time reaching all of them in due time!"</em>
    </div>
  </div>
</div>
