<div class='card animated hidden' id='s_lan' data-card-id=5 data-card-name='land' data-card-slug='s_lan'>
  <div class='card-header'>
    <div class='card-title'>
      Land
    </div>
    <div class='card-question'>
      > What is the amount of arable land available per capita ?
    </div>
  </div>
  <div class='card-body'>
    <div class='card-choice choice-soloslider' data-choice-type='soloslider'>
      <div class='choice-ss-body'>
        <div class='choice-ss-slider'></div>
        <div class='choice-ss-value pull-right'>0</div>
      </div>
    </div>
    <div class='card-subtitle'>
      <em>"Arable land...."</em>
    </div>
  </div>
</div>
