<div class='card animated hidden' data-card-id=5 data-card-name='land' data-card-slug='s_lan'>
  <div class='card-header'>
    <div class='card-title'>
      Land
    </div>
    <div class='card-question'>
      > How much arable land does your land contain ?
    </div>
  </div>
  <div class='card-body'>
    <div class='card-choice choice-grid' data-choice-type='radio'>
      <div class='choice-grid-row'>
        <div class='choice-grid-radio lg4 btooltip' data-cv-value='low' title='e.g. Qatar, Russia'>Few</div>
        <div class='choice-grid-radio lg4 btooltip' data-cv-value='mid' title='e.g. USA, South Africa, China'>Average</div>
        <div class='choice-grid-radio lg4 btooltip' data-cv-value='high' title='e.g. Europe, India'>A lot</div>
      </div>
    </div>
    <div class='card-subtitle'>
      <em>"Arable land...."</em>
    </div>
  </div>
</div>
