<div class='card animated hidden' data-card-id=5 data-card-name='land' data-card-slug='s_lan'>
  <div class='card-header'>
    <div class='card-title'>
      Land
    </div>
    <div class='card-question'>
      > How many hectares of arable land per capita do you have?
    </div>
  </div>
  <div class='card-body'>
    <div class='card-choice choice-grid' data-choice-type='radio'>
      <div class='choice-grid-row'>
        <div class='choice-grid-radio lg4 btooltip' data-cv-value='low' title='e.g. Qatar, Russia'>&lt;0.1</div>
        <div class='choice-grid-radio lg4 btooltip' data-cv-value='med' title='e.g. USA, South Africa, China'>0.1-0.5</div>
        <div class='choice-grid-radio lg4 btooltip' data-cv-value='high' title='e.g. India'>&gt;0.5</div>
      </div>
    </div>
    <div class='card-subtitle'>
      <em>"Arable land...."</em>
    </div>
  </div>
</div>
