<div class='card' id='d_dem_lif'>
  <div class='card-header'>
    <div class='card-title'>
      Demographics / Life Expectancy
    </div>
    <div class='card-question'>
      > What is the average life expectancy for your population?
    </div>
  </div>
  <div class='card-body'>
    <div class='card-choice'>
      <div class='row text-center'>
        <div class='col-md-4'>&lt;60y.</div>
        <div class='col-md-4'>60-80y.</div>
        <div class='col-md-4'>&gt;80y.</div>
      </div>
    </div>
    <div class='card-subtitle'>
      <em>"The longer your population live, the more resources you will have to allocate to services, especially healthcare."</em>
    </div>
  </div>
</div>