<div class='card animated hidden' id='d_ser_edu'>
  <div class='card-header'>
    <div class='card-title'>
      Services / Education
    </div>
    <div class='card-question'>
      > What is the average meat consumption of your population?
    </div>
  </div>
  <div class='card-body'>
    <div class='card-choice'>
      <div class='row text-center'>
        <div class='col-md-4'>no meat</div>
        <div class='col-md-4'>average</div>
        <div class='col-md-4'>high meat</div>
      </div>
    </div>
    <div class='card-subtitle'>
      <em>"The more meat your people eat, the more food you will have to produce to feed your animals."</em>
    </div>
  </div>
</div>