<div class='cont'>
  <a href='<%=  %>'>
    <div class='navarrow navarrow-left'>
      <i class="fa fa-chevron-left fa-4x"></i>
    </div>    
  </a>

  <h3>
    Demographics  
  </h3>
  
  <a href='<%= demand_diet_path %>'>
    <div class='navarrow navarrow-right'>
      <i class="fa fa-chevron-right fa-4x"></i>
    </div>    
  </a>
</div>