<div class='cont'>
  <a href='<%= supply_services_path %>'>
    <div class='navarrow navarrow-left'>
      <i class="fa fa-chevron-left fa-4x"></i>
    </div>    
  </a>

  <h3>
    Electricity  
  </h3>
  
  <a href='<%= supply_fuels_path %>'>
    <div class='navarrow navarrow-right'>
      <i class="fa fa-chevron-right fa-4x"></i>
    </div>    
  </a>
</div>