<p>This is the Variables page, with content modified according to user's variables and flow of the experience.</p>

<h3>Current user ID: </h3>
<%= @user %>

<h3>Current type:</h3>
<%= @type %>

<h3>Current data model: </h3>
<pre><%= @model %></pre>